/* contacto */


/* comienza MAIN de contacto, tienda, nosotros y unite*/

.main{
    background: $fondoPages;
    @each $portadas in cupcake2, pionono, fondo1, fondo-letras{
        &__bg#{$portadas}{
            background-image: url(../../assets/img/#{$portadas}.jpeg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    &__overlay{
        position: relative;
        z-index: 1;
        &::after{
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background:#000;
            opacity: 0.65;
        }
    }
    &__h2--55{
        text-align: center;
        margin: 22px 0px 50px 0px;
        padding: 116px 0px 110px 0px;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 55px;
        color: white;
    }
    .section__h3{
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: "PlayfairDisplay-Bold";
        font-size: 40px;
        color: #333;
        line-height: 1.2;
        text-align: center;
        &--p40{
            padding: 40px;
        }
    }
}
/* esta form__label la estoy reutilizando en contacto y en unite y en tienda */
.form__label{
    font-weight: bold;
    padding: 0.6rem;
}


.section__iframe{
    width: 100%;
    height: 450px;
}
/* esta form__flex es reutilizable en CONTACTO y en UNITE */
.form__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* formulario de CONTACTO */

.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 400px;
    height: 650px;
    padding: 10px;
}

form input{
    width: 100%;
    border: 1px solid #e6e6e6;
    font-size: 0.8rem;
    margin: 5px;
    padding: 1rem;

}

form input[type="email"]{
    display: block;
    
}
form input[type="tel"]{
    display: block;

}
form input[type="number"]{
    display: block;
    
}

form input[type="submit"],
form input[type="reset"]{
    width: 110px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: #cb1919;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
}
form input[type="submit"],
form input[type="reset"]:hover{
    cursor: pointer;
}
form input[type="checkbox"]{
    width: 20px;
}
form textarea{
    width:100%;
    max-height: 200px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    resize: vertical;
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 5px;
}

/* UNITE formulario*/
/* main figure */
.people--1{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
    .figure__people1{
        height: 100%;
    }
}