/* header del index */
//cambiar header__nav por header
@mixin position {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header{
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    //fondo del index//
    video{
        @include position;
        height: 100%;
        object-fit: cover;
    }
    .capa{
        @include position;
        height: auto;
        background: $capaIndex;
        opacity: 0.5;
        mix-blend-mode: overlay;
    }
    //logo//
    &__img{
        width: 150px;
        height: 150px;
    }
    &__ul{
        @include flex(flex, wrap, row, center);
        text-align: center;
        margin: auto;
        padding-top: 100px;
        position: relative;
        z-index: 10;
    }
    &__li{
        align-self: center;
        list-style: none;
        padding: 20px;
    }
    &__a{
        @include letras(1rem, $fuente);
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        background-color: transparent;
        font-weight: 600;
        &:hover{
            color: rgba(0, 128, 0, 0.658);
            font-weight: 500;
        }
    }

}
/* ESTE HEADER ESTA EN UNITE los reutilizo en todas las paginas menos en el index */
/* reutilizo el header__li del index */

.header__ul--50{
    @include flex(flex, wrap, row, center);
    text-align: center;
    margin: auto;
    padding-top: 50px;
    .header__a--16{
        @extend .header__a;
        font-weight: 100;
        color: #666;
        &:hover{
            font-weight: 800;
        }
    }
}
