

/* main de index */
@mixin letras($tamaño, $family){
    font-size: $tamaño;
    font-family: $family;
}
.main__h2{
    @include letras(40px, $tipoGrafia);
    text-align: center;
    margin: 100px 0px 100px 0px;
}

.main__section{
    margin-left: 155px;
    margin-right: 155px;
    padding-left: 15px;
    padding-right: 15px;
}
.tienda{
    padding: 20px;
    text-align: center;
    background-color: #000;
    &__a{
        @include letras(22px, $tipoGrafia);
        line-height: 1.2;
        text-decoration: none;
        font-weight: 600;
        color: white;
    }
}
@mixin header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: center;
}
.section{
    @include header;
    height: 100%;
    align-content: center;
    &__flex1{
        flex: 1;
        padding-top: 10px;
        padding-right: 20px;
        .section__p{
            @include letras(1rem, "Montserrat-Regular");
            min-width: 200px;
            line-height: 1.5;
            align-self: center;
            margin: 1rem;
            &--red{
                color: red;
                font-style: italic;
                font-size: 1.5rem;
            }
        }
    }
    &__img{
        padding: 10px;
        flex: 0;
        &--mh{
            max-height: 50vh;
        }
        &--minh{
            width: 500px;
        }
    }
}
//imagenes  de las tortas//
.section__div{
    justify-self: center;
    width: 300px;
    margin: 20px;
    text-align: center;
    
    .section__h4{
        text-align: left;
        margin-top: 10px;
    }
    .section__a{
        @include letras(18px, $fuente);
        font-weight: 300;
        text-decoration: none;
        color: black;
        &:hover{
            color: rgba(34, 29, 29, 0.363);
        }
    }
    .section__p--num{
        display: block;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
        color: rgb(226, 37, 37);
    }
}
//tamaño de las imagenes de tortas
.section__img--300{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    transition: all 500ms ease-out;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}


/* footer */


.footer{
    background-color: $fondoFooter;
    height: 300px;
    &__p{
        @include letras(30px, $tipoSerif);
        color: white;
        height: 70px;
        min-width: 200px;
        text-align: center;
        padding-top: 28px;
        &--20{
            @include letras(20px, $tipoSerif);
            color: white;
            text-align: center;
            padding-top: 10px;
        }
    }
    &__hr{
        border-top: 1px solid white;
        opacity: unset;
        margin: 0rem 200px
    }
    &__nav{
        padding-left: 50px;
        padding-right: 50px;
        .nav__redes{
            width: 100%;
            height: 100%;
            @include header;
            align-content: space-around;
            .nav__a{
                padding: 20px;
                text-align: center;
                margin-top: 10px;
            }
            .bi{
                width: 20px;
                height: 20px;
            }
        }
    }
    &__div{
        color: #fbfbfb82;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        .footer__final{
            @include letras(1rem, $fuente);
            text-align: center;
        }
    }
}
.fijo__a{
    padding: 10px;
    font-size: 0.8rem;
    text-decoration: none;
    position: fixed;
    right: 75px;
    bottom: 25px;
    border: 2px solid black;
    border-radius: 15px;
    width: 140px;
    background-color: rgba(246, 246, 252, 0.89);
    color: black;
    text-align: center;
    &:hover{
        cursor: pointer;
        background-color: #000;
        color: white;
    }
}

//imagenes grandes

// @each $imagen in desayuno, pan-sab, crumble, tarta-2, cake, torta-drip{
//     .img#{$imagen}{
//         width: 100%;
//         background-image: url(../../assets/img/#{$imagen}.jpeg);
//         background-size: cover;
//         background-position: center center;
//         background-repeat: no-repeat;
//         position: relative;
//     }
//}