
$breakpoints:(
    mobile: 320px,
    tablet: 768px,
    desktop: 1024px
);
@mixin breakpoint($dispositivo) {
    @media  screen and (max-width: #{map-get($breakpoints,$dispositivo)}) {
        @content;
    }
}
.header__ul{
    @include breakpoint(tablet){
        justify-content: flex-start;
        flex-direction: column;
        height: 730px;
        .header__a{
            filter: invert(1);
            font-weight: 550;
            margin: 0;
            font-size: 0.8rem;
            text-shadow: 1px 1px white;
        }
    }
}
/*  nosotros */
.main__h2{
    @include breakpoint(tablet){
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.main__section{
    @include breakpoint(tablet){
        margin-left: 0;
        margin-right: 0;
    }
    @include breakpoint(mobile){
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
.section__img{
    @include breakpoint(tablet){
        padding: 0;
        &--minh{
            width: 380px;
            min-height: 0;
        }
        &--mh{
            width: 380px;
            max-height: 280px;
        }
    }
    @include breakpoint(mobile){
        padding: 0px;
        &--mh{
            width: 300px;
            max-height: 300px;
        }
        &--minh{
            width: 300px;
            min-height: 0;
            }
    }
}
/* tienda */
.div__aside{
    @include breakpoint(tablet){
        display: none;
    }
    @include breakpoint(mobile){
        display: none;
    }
    @include breakpoint(desktop){
        display: none;
    }
}

.header__img{
    @include breakpoint(mobile){
        width: 100px;
        height: 100px;
    }
}
.footer__hr{
    @include breakpoint(mobile){
        margin-left: 40px;
        margin-right: 40px;
    }
}


.header__ul--50{
    @include breakpoint(mobile){
        flex-direction: column;
    }
}
.d-0{
    @include breakpoint(mobile){
        display: none;
    }
}
.people--1{
    @include breakpoint(mobile){
        align-self: end;
        width: 250px;
        height: 250px;
    }
}
.form{
    @include breakpoint(mobile){
        width: auto;
    }
}
.div{
    @include breakpoint(mobile){
        margin: 0;
    }
}
.figure__grid{
    @include breakpoint(mobile){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.section__div{
    @include breakpoint(mobile){
        width: 150px;
        display: flex;
        margin: 0;
        flex-direction: column;
        .section__h4{
            margin-top: 0;
        }
        .section__img--300{
            width: 100%;
            height: 100px;
        }
        .section__pie{
            display: none;
        }
    }
}
.section__flex1{
    @include breakpoint(mobile){
        max-width: none;
    }
    @include breakpoint(tablet){
        max-width: none;
    }
    @include breakpoint(desktop){
        max-width: none;
    }
}
    @media screen and (min-width: 1024px){
        .bg__0{
            --bs-bg-opacity: 0;
        } 
    }

.slider{
    @include breakpoint(mobile){
        height: auto;
        flex: auto;
    }
    @include breakpoint(tablet){
        height: auto;
        
    }
}