/* TIENDA ONLINE */
/* MAIN */

.div{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    &__aside{
        width: 250px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: flex-start;
        gap: 1rem;
        }
    &__ul{
        padding-left: 0;
        .header__a--16{
            @extend .header__a;
            font-weight: 100;
            color: #666;
            text-shadow: none;
            font-size: 1rem;
            &:hover{
                font-weight: 800;
            }
        }
    }
    
}

.section__pie{
    @include letras(1rem, "courgette-regular");
    color: #666;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.figure__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    
}
/* uso el header__a--16 en el aside */

.form__input{
    width: 100%;
    border: 1px solid #e6e6e6;
    font-size: 0.8rem;
    margin: 5px;
    padding: 1rem;
    outline: none;
    border-radius: 7px;
}
